__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.sqlite3
*.db
*.log
*.csv
*.json
*.md
.git/
.gitignore
.DS_Store
*.egg-info/
.qdrant/
.qdrant_data/
